﻿body {
	background-color:white;
}


iframe{ padding:0px; margin:0px; }
 

.list
{ 
	border: thin solid #800000;
	background-color: #FFFFCC;
	border-spacing: 0px;
}

.list td
{
	padding: 3px;
}

 
 .list thead td
{
	background-color: #FF6600;
	border-bottom: thin solid #800000;
}

 

.list tbody td.key 
{
	background-color: #C0C0C0;
}


.list tbody td.divider 
{
	border-bottom: thin solid #800000;
}


.list tbody td.verticaldivider 
{
	border-left: thin solid #800000;
}
 
.list thead td.verticaldivider 
{
	border-left: thin solid #800000;
}
 

.list tbody td.validation
{ 
	color: #FF0000;
}

 

.InputValid
{
	background-color: #99FF99;
}

.InputInValid
{
	background-color: #FF99CC;
}

.InputDisabled
{
	background-color: #C0C0C0;
}